extends ../layouts/layout.jade
block con 
  include ./_nav
  div.resume-wraper
    //- div.avatar-wraper
    //-   img.avatar(src="#{mem.avatar}")
    //- div.skills-wraper
    h4 个人资料

    div.row
      div.col-md-3
        img.avatar(src="/assets/images/user.png")
        button.btn.btn-default 更新头像
      div.col-md-9
        div.row
          div.col-md-4
            div.form-group
              label 姓名：
              input.form-control(v-model="resume.info.name")
          div.col-md-4
            div.form-group
              label 出生年月：
              input.form-control(v-model="resume.info.age")
          div.col-md-4
            div.form-group
              label 性别：
              input.form-control(v-model="resume.info.gender")

          div.col-md-6
            div.form-group
              label 手机号
              input.form-control(v-model="resume.info.mobile")
          div.col-md-6
            div.form-group
              label 邮箱
              input.form-control(v-model="resume.info.email")

          div.col-md-12
            div.form-group
              label 个人简介
              textarea.form-control(rows="5")
        

  div.resume-wraper  
    h4 职业技能
    div
      ul
        li(v-for="item in resume.skills")
          strong {{item.name}}
          span {{item.level}}
      div.row
        div.col-md-4
          div.form-group
            label 技能名称
            input.form-control(v-model="")
        div.col-md-4
          div.form-group
            label 技能等级
            select.form-control
              option 熟练
              option 精通
        div.col-md-4
          div.form-group
            div &nbsp;
            button.btn.btn-default 添加      
          
      
  script.
    var Rid = #{params.id}    




