extends ../layouts/layout.jade
block con 
  div.resume-wraper
    //- div.avatar-wraper
    //-   img.avatar(src="#{mem.avatar}")
    div.skills-wraper

  script.
    var Rid = #{params.id}    




