extends ../layouts/layout.jade
block con 
  div.row
    each item in resumes
      div.col-md-3
        a.card.card-resume(href="/resume/#{item.id}")
          img.card-img-top(src="http://ac-myg6wstv.clouddn.com/b0c1c39e2226b0f1ebd6.png?imageView/2/w/800/h/800/q/90/format/jpg/interlace/1")
          div.card-block
            strong 前端工程师
