.login-wraper{
  max-width: 27rem;
  margin: 1rem auto;
  .login-logo{
    font-size: 3rem; 
    text-align: center;
    i{
      width: 7rem;
      height: 7rem;
      background-color: #828282;
      text-align: center;
      display: inline-block;
      line-height: 7rem;
      border-radius: 100%;
      color: #DDD;
    }
  }
  .login-heading{
    text-align: center;
    padding: 5rem;
  }
  .login-body{
    background-color: #FFF;
    padding: 5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    .form-control{
      background-color: #f5f5f5;
      border: none;
      padding: .7rem;
      border-radius: .2rem;
      &.error{
        background-color: #FFC2C0;
      }
    }
    .form-group{
      position: relative;
      i {
        position: absolute;
        top: 1rem;
        right: .8rem;
        color: rgba(0, 0, 0, 0.13)
      }
      button{
        background-color: #313438;
        color: #FFF;
        display: block;
        width: 100%;
      }
    }
  }

  .login-footer{
    text-align: center;
    font-size: 12px;
    a{
      color: #41464b;
      font-weight: bold;
      font-size: .8rem;
      margin-left: 5px;
    }
  }
}
