body{
  font-family: Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;
  background-color: #F8F8F8 ;
  font-size: .8rem
}


.form-control{
  border-radius: 0
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #41464b;
}

// 消息提示
.alert-tip{
  position: fixed;  top: -100px;  width: 400px;  left: 50%;  margin-left: -200px;  z-index: 2000;     background-image: none;
}
