each item in development.assets.vendor.stylesheets
  link(href="/assets/stylesheets/#{item}.css" rel="stylesheet")

each item in development.assets.stylesheets
  link(href="#{item}" rel="stylesheet")


