link(href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet")
link(href="/assets/stylesheets/tether.min.css" rel="stylesheet")
link(href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet")
link(href="/assets/stylesheets/slick.css" rel="stylesheet")
link(href="/assets/stylesheets/slick-theme.css" rel="stylesheet")  

each item in development.assets.stylesheets
  link(href="#{item}" rel="stylesheet")


