meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
title 搭配家后台管理系统 

if localEnv.environment == 'development'
  include ./devHeader


style.
  body{background-color: #F8F8F8 }
  .turbolinks-progress-bar {
    height: 5px;
    background-color: green;
  }


//- 存入后端的某些公共变量供JS使用  全局配置
script.
  window.SITE = {
    router: {
      controller: '#{route.controller}',
      action: '#{route.action}'
    }

  }




