meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
title 搭配家后台管理系统 

each item in development.assets.vendor.stylesheets
  link(href="/assets/stylesheets/#{item}.css" rel="stylesheet")

//- 存入后端的某些公共变量供JS使用  全局配置
script.
  window.SITE = {
    router: {
      controller: '#{route.controller}',
      action: '#{route.action}'
    }

  }



