meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
title 搭配家后台管理系统 

link(href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet")
link(href="/assets/stylesheets/tether.min.css" rel="stylesheet")
link(href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet")


style.
  body{background-color: #F8F8F8 }


//- 存入后端的某些公共变量供JS使用  全局配置
script.
  window.SITE = {
    router: {
      controller: '#{route.controller}',
      action: '#{route.action}'
    }

  }


script(src="/assets/javascripts/jquery.min.js")
script(src="/assets/javascripts/tether.min.js")
script(src="/assets/javascripts/bootstrap.min.js")

