nav.navbar.navbar-light.bg-faded
  div.container
    
    div#navbar-header.collapse.navbar-toggleable-xs 
      a(class="navbar-brand" href="#") CVHub
      ul.nav.navbar-nav

      ul.nav.navbar-nav.pull-right
        li.nav-item
          if mem
            a(href="/mem"): img.avatar(src="#{mem.avatar}")
          else
            a.nav-link(href="/signin") 登录
              
    
    div.clearfix
    button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header")  &#9776;
      
