nav.navbar.navbar-light.bg-faded
  div.container
    
    div#navbar-header.collapse.navbar-toggleable-xs 
      a(class="navbar-brand" href="#") 简墨
      ul.nav.navbar-nav

      ul.nav.navbar-nav.pull-right
        li.nav-item
          a.nav-link(href="/login") 登陆       
    
    div.clearfix
    button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header")  &#9776;
      